<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real Time Products</title>
    <link rel="stylesheet" href="css/estilos.css">
</head>
<body>
    <h2 class="title">Real Time Products</h2>
    <div id="contenedorProductos" class="products-container"></div>

    <h2 class="title">Agregar un producto</h2>
    <div class="form-container">
        <form id="addProductForm" class="product-form">
            <input type="text" id="title" name="title" placeholder="Título del producto" class="form-input" required>
            <input type="text" id="description" name="description" placeholder="Descripción del producto" class="form-input" required>
            <input type="text" id="code" name="code" placeholder="Código del producto" class="form-input" required>
            <input type="number" id="price" name="price" placeholder="Precio del producto" class="form-input" required>
            <input type="number" id="stock" name="stock" placeholder="Stock del producto" class="form-input" required>
            <input type="text" id="category" name="category" placeholder="Categoría del producto" class="form-input" required>
            <button type="submit" class="form-button">Agregar Producto</button>
        </form>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>








































































{{!-- <h2>Real Time Products</h2>

<div id="contenedorProductos"></div>


<h2>Agregar un producto</h2>
 <div class="form-container">
        <form id="addProductForm">
            <input type="text" id="title" name="title" placeholder="Título del producto" required>
            <input type="text" id="description" name="description" placeholder="Descripción del producto" required>
            <input type="text" id="code" name="code" placeholder="Código del producto" required>
            <input type="number" id="price" name="price" placeholder="Precio del producto" required>
            <input type="number" id="stock" name="stock" placeholder="Stock del producto" required>
            <input type="text" id="category" name="category" placeholder="Categoría del producto" required>
            <button type="submit">Agregar Producto</button>
        </form>
    </div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.min.js"></script>
<script src="js/main.js"></script> --}}